header{background-image: url(jung.jpg); 
       background-size:cover; 
       background-position:center top; 
       background-attachment: fixed}; 
#sns-links{background-image:linear-gradient(rgba(0,0,0,0.8)),(rgba(82, 211, 50, 0.208)), url();
       background-size:cover; 
       background-position:center; 
       background-attachment: fixed;}            
            
